.input {
	border: 1px solid var(--accent-red-0);
	background: var(--light-0);
	padding: 4px 8px;
	font-size: 20px;
	line-height: 1.2;
	border-radius: 99999px;
	outline: 1px solid var(--accent-red-1);
}